<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Exportar Excel Dinamicamente </title>
</head>
<body style="background-color:#F4F1F1;">
	<div align='center'>
		<h1>Web services run, run, run with SpringBoot</h1>
	</div>
	<p>My name: Eric Pineda</p>
	<p>From: Perú</p>
	<p>Buy source code in java Spring Boot send mail ====> epinedacc@gmail.com or </p>
		<div>
		<p>Features:</p>
		<ul>
		  <li>Spring Boot 2.4.4</li>
		  <li>Maven</li>
		  <li>JDK 1.8</li>
		  <li>MyBatis (Easy configuration 1 or more database)</li>
		  <li>Log4J2</li>
		  <li>POI</li>
		  <li>commons-lang3 (It's great, print errors in string)</li>
		  <li>It's using Thymeleaf, only for view</li>
		</ul>
		</div>
		<p><b>Payment method: </b>Bank Transfer (Método de pago: Transferencia Bancaria) </p>
		<p><b>Price:</b> $10 (ó 35 soles (Moneda en Perú))</p>
		<p>Link: http://localhost:8080/reportes/descarga/reporte1</p>
		<p>Link: http://localhost:8080/reportes/descarga/reporte1?estado=INACTIVO</p>
		<p>Link: http://localhost:8080/reportes/descarga/reporte1?estado=ACTIVO</p>

	
</body>
</html>